$currentColor: red;
$color: #65c466;
$color-white: #ffffff;
$color-bg: #243246;
$color-text-main: #9b9b9b;
$color-text-second: #414141;
$color-text-third: #c2c2c2;
$color-text-fourth: #a3a3a3;
$color-text-fift: #696969;
$color-text-sixth: #a9a9a9;
$color-text-seventh: #959aa6;
$color-icon-one: #c2c1c2;
$font-family: Gilroy;
$font-family-2: Trajan Pro 3;
$font-family: "Roboto", sans-serif;
